 /* @import url(https://allfont.net/allfont.css?fonts=agency-fb); */

 * {
     /* outline: 1px red solid; */
     box-sizing: border-box;

 }

 p {
     font-size: 20px;
     color: #006CA2;
     line-height: 1.5;
 }

 a {
     cursor: pointer;
 }

 body {
     display: flex;
     flex-direction: column;
     font-family: 'Noto Sans TC', sans-serif;
 }

 body.indexbg {
     /* background-image:url(./img/index-bg.png) ; */
     ba~ckground-position: left top;
     background-repeat: no-repeat;
 }

 header {
     background-image: url(./img/index-navbg.png);
     background-repeat: no-repeat;
     background-position: left top;
     background-size: cover;
     height: 100px;
 }

 header {
     display: flex;
     position: sticky;
     top: 0;
     z-index: 2;
 }

 nav {
     margin: auto;
 }

 /* 其他頁面的nav背景 */
 .nav-bg-2 {
     background-image: url(./img/nav-bg-v2.png);
     background-repeat: no-repeat;
     background-position: left top;
     background-size: cover;
     height: 160px;
 }

 .nav-banner {
     width: 100%;
     /* background: url(./img/banner-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left top; */
 }


 .bg-cloud-big {
     margin-top: -3px;
     background-image: url(./img/banner-bg-2.png);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center top;
 }






 /* .nav {
     position: sticky;
     top: 0;
     width: 100%;
     /* height: 250px;   */


 .mg-top-0 {
     margin: 0;
 }

 .toggle-btn {
     display: none;

 }

 #opennone {
     display: none;
 }


 .nav .close {
     display: none;
 }

 .show,
 open {
     display: block;
 }

 .nav {
     height: max-content;
     display: flex;
     justify-content: space-between;
 }




 .nav-list {
     /* outline: #19f909 solid; */
     height: 50px;
     line-height: 50px;
     display: flex;
     margin-left: 50px;
     font-size: 20px;
     justify-content: space-evenly;
 }

 .nav-list a {
     display: block;
     align-items: center;
     /* color: #0c4967; */
     color: #6e6d76;
     /* background: linear-gradient(to bottom, #029cfc, #BBE3FC);
    background-clip: text;
    -webkit-background-clip: text; */
     /* color: transparent; */
     margin: auto 10px;
     text-align: center;
     font-weight: 600;
 }

 .nav-list li {
     text-align: center;
     display: block;
     position: relative;
 }

 .nav-list-text.logIn a {
     margin-left: 50px;
     font-size: 25px;
     color: #166992;

 }

 .nav-list-text .a-line:hover:after {
     left: 0;
     bottom: 0;
     right: 0;
     content: "";
     width: 100%;
     height: 2px;
     position: absolute;
     background-color: #0c4967;
 }

 .nav-list a:hover {
     color: #0c4967;
     /* color: #FF3A1E; */
     /* outline: solid; */

 }


 .nav-content {
     display: flex;
     justify-content: space-between;
     padding-top: 20px;
 }

 .nav-content>a {
     display: contents;
 }

 #logo {
     display: flex;
     max-width: 60%;
     margin-left: 30px;
     height: 50px;
     line-height: 50px;
 }

 @media screen and (max-width:1000px) {
     #logo {
         position: relative;
         margin-left: 25%;
     }

     .nav .toggle-btn {
         display: block;
         font-size: 30px;
         color: #006CA2;
         padding: 7px 10px;
         position: absolute;
         left: 10px;
         top: 20px;
     }

     .nav-list li a {
         display: none;
         font-size: 14px;
     }

     .nav-list.list-wrap {
         z-index: 10;
         background-color: #ffffff7e;
         display: block;
         position: absolute;
         left: 0;
         top: 68px;
         height: auto;
         padding: 0 20px;
         margin: 0;
         z-index: 20;
     }

     .nav-list.list-wrap .toggle-btn {
         position: absolute;
         left: 0;
         top: 0;
     }

     .nav-list.list-wrap a {
         float: none;
         display: block;
         text-align: left;

     }

     .nav-list-text.logIn a {
         margin-left: 8px;
     }


 }

 a {
     text-decoration: none;
 }

 /* -----main---- */
 main {
     display: block;
     align-content: center;
 }

 .slider {
     width: 100%;
     position: relative;
     overflow: hidden;
 }

 .banner-list.owl-carousel.owl-theme {
     margin: -36px 0 177px 0;
     width: 150%;
     display: flex;
     gap: 20px;
     position: relative;
     left: -25%;
 }

 .banner-list-item .item {
     /* width: 100%; */
     display: flex;
     justify-content: center;
     padding: 10px 20px 5px;

 }

 .banner-list-item #banner-img:first-child(1) {
     width: 33.33%;
 }

 .banner-list-item.slo-position {
     width: 70%;
 }

 #banner-img {
     padding: 0;
     display: block;
     /* width: 33.33%; */
     width: 70%;
 }



 .banner {
     position: relative;
     padding-top: 3%;
 }

 /* @media screen and (max-width:800px) {
     .banner-list-item.owl-carousel.owl-theme {
         display: flex;
         flex-wrap: wrap;
     }
 } */


 .slo-1,
 .slo-2 {
     font-family: 'Inter', sans-serif;
     text-shadow: 0.1em 0.1em 0.2em #00000036;
     writing-mode: vertical-rl;
     position: absolute;
     font-size: 2.5vw;
     z-index: 3;
     color: #FFFF;
     font-weight: 600;
 }


 .slo-1 {
     top: 5%;
     right: 14%;

 }

 .slo-2 {
     right: 20%;
     top: 13%;

 }

 /* title */
 .title-group {
     margin: 5% auto 5% auto;
     position: relative;
     font-weight: 600;
 }

 .title {
     position: relative;
     top: 0px;
     left: 30px;
     display: flex;
     gap: 25px;
     color: #006CA2;
     font-size: 20px;
     padding: 20% 0;
 }

 .section {
     height: fit-content;
     margin: 5% 0;
     padding: 16px 5%;
     display: flex;
     flex-direction: column;
     /* height: max-content; */
 }

 .title-ch {
     background-color: #ffffffd6;
 }

 .title-en {

     font-family: 'Montserrat Alternates', sans-serif;
     font-weight: 500;
 }

 .h1-cloud-bg {
     width: 60%;
     position: absolute;
     top: 3px;
     z-index: -1;
 }

 .section.about .title-group {
     z-index: 1;
 }

 .section.about {
     margin-top: -5%;
 }


 .about .content {
     margin: auto;
     font-size: 20px;
     line-height: 1.5;
 }

 /* Spot */
 .section.spot {
     height: 750px;
     padding: 0;
     margin: 0;
     position: relative;
     background: url(./img/line-bg.png);
     background-position: top center;
     background-repeat: no-repeat;
     background-size: cover;

 }

 .taiwain-map {
     display: block;
     width: 280px;
     margin: auto;
     position: relative;
 }

 /* line */
 .line {
     position: absolute;
     width: 200px;
     height: 3px;
     background: #FF3A1E;
 }

 .type1 {
     right: -50%;
     top: 9%;
 }

 .type2 {
     left: -29%;
     top: 35%;
 }

 .type3 {
     left: 58%;
     bottom: 37%;
 }

 .type4 {
     left: -41%;
     bottom: 20%;
 }

 .map-area .map-area-img .line::after {
     left: 0;
     top: 1.5px;
     background: #FF3A1E;
     content: '';
     position: absolute;
     width: 17px;
     height: 17px;
     border-radius: 50%;
     transform-origin: center;
     transform: translate(-50%, -50%);

 }

 .map-area .map-area-img .line:nth-child(2n+1)::after {
     right: -10px;
     left: initial;
 }

 .map-area {
     margin: auto;
     position: relative;
 }


 .area-same {
     display: flex;
     flex-direction: column;
     align-items: center;
     position: absolute;
     padding: 15px 13px 15px;
     max-width: 300px;
     color: #006CA2;
     align-items: center;


 }

 .area-same .area-title {
     width: 100px;
     padding: 10px;
     text-align: center;
     font-size: 18px;
     border-radius: 10px;
     background: #006CA2;
     color: #FFFF;
     margin-bottom: 20px;
     font-weight: 600;
 }

 .area-same .area-content {
     background: #BBE3FC;
     border-radius: 10px;
     width: 200px;
     padding: 20px 10px;
 }

 .area-same.area1 .area-content {
     width: 300px;
 }



 .area-same ul {
     display: flex;
     flex-wrap: wrap;
     font-size: 14px;
     justify-content: center;
     gap: 15px 15px;
 }

 .area-same ul li {
     width: 80px;
     padding: 10px;
     background: #FFFF;
     color: #006CA2;
     border-radius: 10px;
     text-align: center;

 }

 .map-area .area1 {
     top: -12%;
     right: -127%;
 }

 .map-area .area2 {
     top: -2%;
     right: 108%;
 }

 .map-area .area3 {
     top: 59%;
     right: 98%;
 }

 .area-same.area4 {
     top: 42%;
     left: 94%;
 }

 .area-same.area4 ul {
     justify-content: space-evenly;
 }

 .map-area #area4 {
     top: 40%;
     left: 100%;
 }

 /* howToUse */
 .howToUse.content {
     /* padding: 200px 10px 70px; */
     width: 100%;
     justify-content: space-around;
     display: flex;
     gap: 20px;
     /* box-shadow: 0 0 18px rgba(91, 181, 237, 0.7); */
 }

 .step-title {
     width: 50%;
     font-size: 28px;
     font-weight: 600;
     /* background-color: #006CA2; */
     color: rgba(255, 58, 30, .9);
     /* color: #FFFF; */
     text-align: center;
     border-radius: 22px;
     padding: 10px;
 }

 /* step-No. */
 .step-num {
     font-family: "Agency FB";
     font-size: 36px;
     position: relative;
     margin-top: 49px;
     font-weight: 600;
     color: rgb(0, 108, 162);
 }

 .stepNum {
     display: flex;
     justify-content: space-between;
 }


 /* step-line */
 .step-line {
     position: relative;
     top: 65px;
     width: 100%;
     height: 3px;
     background: linear-gradient(rgb(0, 175, 236), rgba(106, 225, 233, 0.42));
 }

 .howToUse.content .howToUse-item {
     margin: 20px;
     width: 21%;
     align-items: center;
     display: flex;
     flex-direction: column;
     gap: 20px 0;
     width: 60%;
     height: 100%;
     margin: auto;
     border: solid 5px transparent;
     border-radius: 20px;
     background-image: linear-gradient(#fff, #fff), linear-gradient(to bottom, rgba(0, 175, 236), rgba(106, 225, 233, 0.42));
     background-origin: border-box;
     background-clip: content-box, border-box;
 }

 .step-num::after {
     top: -33px;
     left: 50%;
     content: url(./img/brella-icon.png);
     position: absolute;
     border-radius: 50%;
     transform-origin: center center;
     transform: translate(-50%, -50%);
     z-index: 1;
 }

 .step-text {
     font-size: 20px;
     color: #006CA2;
     line-height: 1.5;
     margin: auto;
 }

 .step-img {
     position: relative;
     margin: auto;
     padding: 20px;
     height: 100%;
 }


 /* .step-img::before {
     content: "";
     position: absolute;
     inset: 0;
     border-radius: 20px;
     padding: 6px;
     background: linear-gradient(to bottom, rgba(0, 175, 236), rgba(106, 225, 233, 0.42));
     -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
     -webkit-mask-composite: xor;
     mask-composite: exclude;
 } */

 .step-img img {
     height: auto;
     display: block;
     margin: auto;
     padding: 5px;
 }

 @media screen and (max-width:1000px) {
     .howToUse.content {
         flex-direction: column;
     }

     /* .step-img img {
         width: 100%;
         height: 100%;

     } */
 }

 /* .step-line.line1 {
    left: 6%;
}

.step-line.line2 {
    left: 28%;
}

.step-line.line3 {
    left: 50%;
}

.step-line.line4 {
    left: 72%;
} */

 /* footer */
 .section.footer {
     background-image: url(./img/footer-bg.png);
     background-position: top right;
     background-repeat: no-repeat;
     background-size: cover;
     margin-bottom: 0;
     position: relative;
     ;
 }

 /* footer-text-img-area */
 .footer-text-img-area {
     display: flex;
     margin: auto;
     justify-content: space-between;
 }

 .footer-content-img {
     /* outline: solid red 1px; */
     width: 41%;
     right: 16%;
     top: 15%;
     position: absolute;
 }

 .umbrella-girl {
     /* outline: solid; */
     display: block;
     /* position: absolute; */
     overflow: hidden;
     width: 100%;

 }

 footer {
     bottom: 0;
 }

 .footer-content {
     padding-top: 20%;
     margin-top: 10%;
     margin: auto;
     display: flex;
     position: relative;
     font-size: 18px;
     gap: 5%;
     height: fit-content;
     margin-bottom: 200px;
 }

 .footer-wrap {
     display: flex;
     justify-content: space-between;
 }

 .footer-content-text {
     /* outline: 1px solid blue; */
     position: relative;
     /* right: 300px; */
     writing-mode: vertical-lr;
     font-weight: 600;
     background: linear-gradient(to bottom, rgba(0, 175, 236), rgba(106, 225, 233, 0.774));
     background: -webkit-linear-gradient(to right, rgba(0, 175, 236), rgba(106, 225, 233, 0.42));
     background-clip: text;
     -webkit-background-clip: text;
     color: transparent;
 }

 .footer-content-text div {
     margin: 10px 20px;
 }

 .footer-content-text.orange-color {
     color: rgba(230, 123, 24);
 }

 .footer-text {
     flex-direction: column;
     font-size: 20px;
     display: flex;
     flex-wrap: wrap;
     margin: auto;
     row-gap: 10px;
 }

 .footer-list {
     align-self: center;
     display: flex;
 }

 .footer-list ul {
     gap: 10px;
     display: flex;
     /* margin: 10px 0; */
 }

 .footer-list ul li a {
     color: black
 }

 .company-info {
     gap: 40px;
     display: flex;
     color: black;
     margin: auto;
 }

 .dowload-icon {
     width: 100%;
     border-radius: 5px;
     align-self: center;
     width: fit-content;
     justify-content: flex-end;
     display: flex;
     gap: 20px;
     height: max-content;
 }

 .dowload-icon img {
     width: 35%;
     height: auto;
 }

 footer .copyright {
     height: 90px;
     line-height: 1.4;
     color: #fff;
     text-align: center;
     background: #002614;
     padding: 28px 10px;
 }

 /* product */

 .product-img-slide {
     width: 50%;
     height: 25%;
     position: relative;
     border-radius: 0 1000px 1000px 0;
     background: #BBE3FC;
 }

 .product-content {
     display: flex;
     align-items: center;
     justify-content: space-between;
 }

 .product-content:nth-child(2n) .product-img-slide {
     border-radius: 1000px 0 0 1000px;
     order: 1;
 }

 .product-detail {
     line-height: 2;
 }

 /* 商品-文字 */
 .product-content .text {
     margin: auto;
 }

 .product-content .text .product-title,
 .product-color-list {
     text-align: center;
 }

 /* .product-content:nth-child(2n+1) .text {
     width: 50%;
     margin: 10%;
 }

 .product-content:nth-child(2n) .text {
     margin: 10%;
     width: 50%;
 } */

 .product-img img {
     padding: 10px 20px;
     width: 100%;
     height: 100%;
 }

 .product-img-slide {
     display: flex;
 }

 .product-img {
     width: 50%;
     margin: 5% auto;
 }

 /* .product-content:nth-child(2n+1) .product-img {
    width: 100%;
    margin-left: 14%;
}

.product-content:nth-child(2n) .product-img {
    width: 100%;
    margin-left: 26%;
} */

 .product-content .text .product-title {
     font-size: 22px;
 }

 .product-color-list {
     align-self: center;
     display: flex;
     margin: 10px 0;
     justify-content: center;
 }

 .product-content .text .product-color-list div {
     width: 15px;
     height: 15px;
     border-radius: 15px;
     background-color: #BBE3FC;
     margin: 0px 3px;
     padding: 0;
 }




 .product-content .text .product-detail {
     font-size: 18px;
     line-height: 1.5;
     text-align: left;
     font-size: 18px;
 }


 /* login */
 /* area-container */
 .area-container {
     margin: auto;
 }

 /* tab-area */
 .tab-area {
     outline: #FF3A1E solid;
     margin: auto;
     display: block;
 }

 /* .tab-area input[type="radio"] {} */

 /* tab-checked顯示 */
 .tab-area input[type="radio"]:checked+.tab-display {
     display: block;
 }

 .login-area,
 .phone-area {
     min-width: fit-content;
     background: #BBE3FC;
     justify-content: center;
     display: flex;
     margin: auto;
     padding: 5% 15%;
     border-radius: 10px;
 }


 .login-left {
     margin-right: 16%;
     text-align: center;
     border-right: #ffff solid 4px;
     padding-right: 16%;
 }

 /* .login-left:after{
    position: absolute;
    width: 10px;
    height:30px;
    background-color: #0C4867;
    left: 20%;
} */
 .login-register {
     width: 300px;
     display: flex;
 }

 .form-text {
     margin: 20% 0 5%;
 }

 .form-text.input input:focus {
     outline: none;
     border: solid#0C4867 2px;
 }

 .form-text.input input {
     border: solid #0C4867 1px;
     border-radius: 5px;
     position: relative;
     display: inline-block;
 }

 input[type=button] {
     background-color: #0c4967eb;
     border: none;
     padding: 10px;
     width: 170px;
     color: #fff;
     border-radius: 5px;
     cursor: pointer;
 }

 input[type=button]:hover {
     background-color: #0c4967;
 }

 .signup {
     margin-top: 20px;
     background-color: #FF3A1E;
     border: none;
     padding: 10px;
     width: 170px;
     color: #fff;
     border-radius: 5px;
     margin: auto;
     cursor: pointer;

 }

 .tab input {
     width: 300px;
     height: 46px;
     font-size: 20px;
     font-family: "Roboto", sans-serif;
     /* font-weight: 200; */
     /* color: black; */
     padding: 5px 10px;
 }


 #facebook-signup-btn {
     margin: auto;
     display: flex;
     align-items: center;
     justify-content: space-evenly;
     width: 212px;
     height: 40px;
     margin: 0 auto 25px auto;
     background-color: #3b5998;
     color: #fff;
     border-radius: 5px;
     cursor: pointer;
 }

 .login-right button img {
     margin-right: -24px;
 }

 .login-right div:nth-child(2) {
     margin-left: 20px;
 }

 .login-right button {
     border: none;
 }

 .login-forgot a {
     color: #0C4867;
 }

 .login-right {
     margin: auto;
 }

 /* user icon */


 /* QA */
 .section.QA {
     height: fit-content;
     margin: 0;
     padding: 0 5% 5% 15%;
     display: flex;
     flex-direction: column;
 }

 .section.QA>div {
     /* outline: solid red; */
     width: 100%;
     display: flex;
     margin: 20px 0;
     justify-content: center;
 }

 .section.QA .QA-title {
     gap: 200px;
 }

 .QA-title button {
     width: 150px;
     font-weight: 600;
     padding: 1% 3%;
     font-size: 14px;
     border: #0C4867;
     border-radius: 20px;
     color: #0C4867;
 }

 .QA-title button:hover {
     border: none;
     background-color: #0C4867;
     color: #fff;
 }

 .section.QA .QA-content {
     text-align: center;
     display: block;
     line-height: 2;
     margin: auto;
     /* flex: ; */
 }

 .QA-sub-title>div {
     margin: 0 20px;
 }

 .QA-content-Q {
     background: #006CA2;
     color: #FFFF;
     font-weight: 600;
 }

 .QA-content-Q,
 .QA-content-A {
     padding: 10px 0 10px 20px;
     /* padding-left: 20px; */
     display: flex;
     border-radius: 10px;
     max-width: 50%;
     margin: auto;
     justify-content: space-between;
 }

 .hide {
     display: none;
 }

 .add {
     background: none;
     margin-right: 20px;
     cursor: pointer;
 }

 .QA-content-A {
     border: solid;
     border-color: #006CA2;
     margin-top: 20px;
     display: none;

 }

 .QA-content-1 {
     margin-bottom: 50px;
 }

 .QA-sub-title>div:hover {
     font-weight: 600;
     color: #0C4867;
 }